# ----------------------------------------------------------------------
# | Custom error messages/pages                                        |
# ----------------------------------------------------------------------

ErrorDocument 403 /pemiparts/recursos/error/403.html
ErrorDocument 404 /pemiparts/recursos/error/404.html

# ----------------------------------------------------------------------
# | Character encodings                                                |
# ----------------------------------------------------------------------

# Serve all resources labeled as `text/html` or `text/plain`
# with the media type `charset` parameter set to `UTF-8`.
#
# https://httpd.apache.org/docs/current/mod/core.html#adddefaultcharset

AddDefaultCharset utf-8
<IfModule mod_rewrite.c>

<IfModule mod_rewrite.c>
    RewriteEngine On
    Options +FollowSymlinks

    # Bloquear el acceso a cualquier archivo dentro de /api/, /recursos/ y /controladores/
    #RewriteCond %{REQUEST_URI} ^/pemiparts/api/services [NC]
   # RewriteRule ^.*$ - [F,L]
</IfModule>

 


<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
</IfModule>
